* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 0.5fr;
  background-color: black;
  gap: 5px;
  height: 100vh;
  width: 100vw;
}
header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: yellow;
  justify-content: center;
  align-items: center;
  display: flex;
}

aside {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background: url(back-to-school.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo h2 {
  font-size: 45px;
  color: white;
  font-weight: bolder;
}

.form {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: teal;
  padding: 1em;
}
footer {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  background-color: grey;
}
.col-12 .btn-primary {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
